PORT=3000
# Connect to Supabase via connection pooling
DATABASE_URL="postgresql://postgres.mcczdemnibcubdvbetqt:lbLqgXqDBRuea6IR@aws-1-us-east-1.pooler.supabase.com:6543/postgres?pgbouncer=true"
# Direct connection to the database. Used for migrations
DIRECT_URL="postgresql://postgres.mcczdemnibcubdvbetqt:lbLqgXqDBRuea6IR@aws-1-us-east-1.pooler.supabase.com:5432/postgres"
JWT_SECRET=supersecretkey123

# Supabase Credentials
# User: prisma
# Password: 3kb5YQtvVHYKHnof

# Render commands
# Build Command: npm install; npm run build; npm run seed:prod
# Start Command: node dist/src/index.js